<div class="pilian-container-login">
  <div class="pilian-sidebar-login">
    <img src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg"
      alt style="width: 100%;">
  </div>

  <div class="pilian-header">
    <h1>Bem vindo</h1>
    <h2>Pilian!</h2>
  </div>

  <div class="pilian-container-acesso">
    <div class="pilian-botao-login-conta">
      <button type="button" class="btn btn-primary"
        style="width: 100%;background: #c4f21b; border: none; color: #121212;" (click)="acessarConta()">Acessar Conta <i class="fa-solid fa-right-to-bracket"></i></button>
    </div>

    <div class="pilian-formulario">


    </div>
  </div>

</div>
