<div class="pilian-container-login">
  <div class="pilian-sidebar-login">
    <img src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg"
      alt style="width: 100%;">
  </div>

<!--
  <div class="pilian-header">
    <h1>Bem vindo</h1>
    <h2>Pilian!</h2>
  </div>
-->
  <div class="pilian-container-acesso">
    <div class="pilian-botao-login-conta" >
      <button type="button" class="btn btn-primary"
        style="width: 100%;background: #c4f21b; border: none; color: #121212;"
        (click)="acessarConta()">Acessar Conta <i
          class="fa-solid fa-right-to-bracket"></i></button>
    </div>

    <div class="pilian-formulario">
      <div class="pilian-titulo-pagina">
        <h1><i class="fa-solid fa-user"></i>  Criar
          uma nova conta</h1>
        <p>É rápido e fácil.</p>
      </div>

      <div class="input-group mb-3">
        <label for="basic-url" class="form-label">Crie sua Matrícula:</label>
        <div class="input-group" style="width: 100%;">
          <span class="input-group-text" id="basic-addon1" ><i
              class="fa-regular fa-address-card"></i></span>
          <input type="text" class="form-control" placeholder="Matrícula"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>

      <div class="input-group mb-3">
        <label for="basic-url" class="form-label">Dados Pessoais:</label>
        <div class="input-group" style="width: 100%;">
          <span class="input-group-text" ><i
              class="fa-regular fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Nome"
            aria-label="Username">

          <input type="text" class="form-control" placeholder="Sobre Nome"
            aria-label="Server">
        </div>
      </div>

      <div class="input-group mb-3">
        <label for="basic-url" class="form-label">Nome da sua Empresa:</label>
        <div class="input-group" style="width: 100%;">
          <span class="input-group-text" id="basic-addon2" ><i
              class="fa-regular fa-building"></i></span>
          <input type="text" class="form-control"
            placeholder="Nome da sua Empresa:" aria-label="Nome da sua Empresa:"
            aria-describedby="basic-addon2">
          <input type="text" class="form-control" placeholder="CNPJ"
            aria-label="CNPJ">
        </div>
      </div>

      <div class="mb-3">
        <label for="basic-url" class="form-label">Email:</label>
        <div class="input-group">
          <span class="input-group-text"
            id="basic-addon3" ><i class="fa-regular fa-envelope"></i></span>
          <input type="text" class="form-control" id="basic-url"
            placeholder="Email"
            aria-describedby="basic-addon3 basic-addon4">
          <span class="input-group-text"
            id="basic-addon3" ><i class="fa-solid fa-phone"></i></span>
          <input type="text" class="form-control" id="basic-url"
            placeholder="Telefone"
            aria-describedby="basic-addon3 basic-addon4">
          <span class="input-group-text"
            id="basic-addon3" ><i class="fa-solid fa-mobile-retro"></i></span>
          <input type="text" class="form-control" id="basic-url"
            placeholder="Celular"
            aria-describedby="basic-addon3 basic-addon4">
        </div>

      </div>
      <div class="input-group mb-3" style="display: flex; flex-wrap: nowrap;">

        <input class="form-check-input mt-0" type="checkbox" value
          aria-label="Checkbox for following text input"
          style="margin-right: 10px;">
        <p>
          Ao clicar em Cadastre-se, você concorda com nossos Termos, Política de
          Privacidade e Política de Cookies. Você poderá receber notificações
          por
          SMS e cancelar isso quando quiser.
        </p>

      </div>
      <div style="margin-top: 10px;">
        <div class="input-group flex-nowrap">
          <button type="button" class="btn btn-primary"
            style="width: 100%;background: #c4f21b; border: none; color: #121212"><i class="fa-solid fa-user"></i>  Criar Conta</button>
        </div>
      </div>
    </div>

  </div>
