<div class="pilian-container-login">
  <div class="pilian-sidebar-login">
    <img src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg"
      alt style="width: 100%;">
  </div>

  <div class="pilian-header">
    <h1>Bem vindo</h1>
    <h2>Pilian!</h2>
  </div>

  <div class="pilian-container-acesso">

    <div class="pilian-botao-criar-conta">
      <button type="button" class="btn btn-primary"
        style="width: 100%;background: #c4f21b; border: none; color: #121212;" (click)="criarConta()"><i class="fa-regular fa-plus"></i> Criar Conta</button>
    </div>



    <div class="pilian-formulario">

      <div style="margin-top: 10px;">
        <label for="basic-url" class="form-label">Matrícula:</label>
        <div class="input-group" style="width: 100%;">
          <span class="input-group-text" id="addon-wrapping" style="background: #c4f21b; ">
            <i class="fa-solid fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Matrícula"
            aria-label="Username" aria-describedby="addon-wrapping">
        </div>
      </div>

      <div style="margin-top: 10px;">
        <label for="basic-url" class="form-label">Senha:</label>

        <div class="input-group" style="width: 100%;">
          <span class="input-group-text" id="addon-wrapping" style="background: #c4f21b; "><i
              class="fa-solid fa-key"></i></span>
          <input type="password" class="form-control" placeholder="Senha"
            aria-label="password" aria-describedby="addon-wrapping">
        </div>
      </div>

      <div style="margin-top: 10px;">
        <div class="input-group flex-nowrap">
          <button type="button" class="btn btn-primary"
            style="width: 100%;background: #c4f21b; border: none; color: #121212;">Entrar</button>
        </div>
      </div>
      
      <div style="margin-top: 10px;">
        <div class="col-lg-5">
          <span><a>Esqueceu a senha?</a></span>
        </div>

      </div>
    </div>
  </div>

</div>
