<div class="" style="position: absolute; top: 18%; display: flex; flex-direction: column; ">
  <div class="row">
<div class="pilian-header">
  <h1>Bem vindo</h1>
  <h2>Pilian!</h2>
</div>
  </div>
  </div>


<div class="" style="display: flex; flex-direction: column;">
<div class="row">
  <div class="col-lg-7 mb-2">
    <label for="basic-url" class="form-label">Email</label>
  <div class="input-group" style="width: 100%;">
    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user" style="color: rgb(196, 242, 27);"></i></span>
    <input type="text" class="form-control" placeholder="Username"  aria-label="Username" aria-describedby="addon-wrapping">
  </div>
</div>

  <div class="col-lg-7 mb-2">
    <label for="basic-url" class="form-label">Senha</label>

    <div class="input-group" style="width: 100%;">
      <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-key" style="color: rgb(196, 242, 27);"></i></span>
      <input type="password" class="form-control" placeholder="password"  aria-label="password" aria-describedby="addon-wrapping">
    </div>
  </div>

<div class="col-lg-7 mb-2">
  <div class="input-group flex-nowrap">
    <button type="button" class="btn btn-primary" style="width: 100%;background: #c4f21b; border: none; color: #121212;">Entrar</button>
  </div>
</div>
  <div class="col-lg-7 mb-4">
    <div class="row">
    <div class="col-lg-8">
    <span><a>Criar uma Conta nova</a></span>
  </div>
  <div class="col-lg-4">
    <span></span>
   <span><a>Esqueceu a senha?</a></span>
  </div>
</div>
  </div>
</div>
</div>
